<div class="bg-travel" aria-hidden="true">
  <span class="t-lavande on"></span>
  <span class="t-space"></span>
  <span class="t-bleu"></span>
  <span class="t-orange"></span>
  <span class="t-vert"></span>
  <span class="t-jaune"></span>
  <span class="t-soleil"></span>
  <span class="t-cinema"></span>
</div>
