---
import { ICLOSED_DIAGNOSTIC_URL } from '../config/links';
---

<div class="sticky-cta" id="sticky-cta" role="complementary" aria-label="Réserver un diagnostic gratuit">
  <button class="cta" type="button" data-iclosed-link={ICLOSED_DIAGNOSTIC_URL} data-embed-type="popup" aria-haspopup="dialog">Diagnostic gratuit</button>
</div>
